In [1]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

In [4]:

df = pd.read_sql('select * from category',con=connection)
print(df)

    category_id         name         last_update
0             1       Action 2006-02-15 09:46:27
1             2    Animation 2006-02-15 09:46:27
2             3     Children 2006-02-15 09:46:27
3             4     Classics 2006-02-15 09:46:27
4             5       Comedy 2006-02-15 09:46:27
5             6  Documentary 2006-02-15 09:46:27
6             7        Drama 2006-02-15 09:46:27
7             8       Family 2006-02-15 09:46:27
8             9      Foreign 2006-02-15 09:46:27
9            10        Games 2006-02-15 09:46:27
10           11       Horror 2006-02-15 09:46:27
11           12        Music 2006-02-15 09:46:27
12           13          New 2006-02-15 09:46:27
13           14       Sci-Fi 2006-02-15 09:46:27
14           15       Sports 2006-02-15 09:46:27
15           16       Travel 2006-02-15 09:46:27

In [5]:
print(len(pd.unique(df['category_id'])))

16

In [10]:
df2 = pd.read_sql('select name from category order by name ASC',con=connection)
print(df2)

           name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

In [23]:
df3 = pd.read_sql('select title, release_year from film order by release_year ASC',con=connection)
print(df3['release_year'][0])
print(df3['release_year'][len(df3)-1])
print(df3['title'][0])
print(df3['title'][len(df3)-1])

2006
2006
Chamber Italian
Zorro Ark

In [27]:
df4 = pd.read_sql("select COUNT(*) from rental where rental_date between '2005-07-01'::timestamp and '2005-08-01'::timestamp",con=connection)
print(df4)

   count
0   6709

In [28]:
df5 = pd.read_sql("select COUNT(*) from rental where rental_date between '2010-01-01'::timestamp and '2011-02-01'::timestamp",con=connection)
print(df5)

   count
0      0

In [29]:
df6 = pd.read_sql("select MAX(amount) from payment",con=connection)
print(df6)

     max
0  11.99

In [31]:
df7 = pd.read_sql("select * from country WHERE country IN ('Poland','Nigeria','Bangladesh')",con=connection)
print(df7)

   country_id country         last_update
0          76  Poland 2006-02-15 09:44:00